.boton-Rojo {
    color: #fff;
    background-color: rgba(242, 53, 28, 1);
    border-color: rgba(242, 53, 28, 1);
}

.iconColor {
    color: white;
    padding-left: 5px !important;
}

.inputRadius {
    border-radius: 20px !important;
}

.padding {
    padding: 0.4rem
  }
  
.boton-Azul {
    background: white;
    color: #1f97ae;
    border: 1px solid #1f97ae;
    font-size: 0.5rem;
}

.iconColorAzul {
    color: #1f97ae;
    padding-right: 5px !important;
}

.texto {
    color: rgba(242, 53, 28, 1);
    text-align: left;
    padding-left: 5%;
    padding-top: 1%;
}

label {
    color: rgba(0, 0, 0, 0.4);
}

.labelPad {
    padding-left: 8%;
}

.swal2-icon.swal2-success {
    border-color: #f53201 !important;
}

.btnOn {
    border: none solid rgba(242, 53, 28, 1);
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
