.fondo {
    
    height: 100vh;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;   
    width: 100vw; 
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-position: center;
}

.formularioStyle {
    background: white;
    border-radius: 8px;
}

.colorButtonDanger {
    background: #f53201;
}

.colorButtonSuccess {
    background: rgba(16, 151, 176, 1);
}

.colorLabelText {
    color: rgba(16, 151, 176, 1);
}

.administradorStyle {
    margin-top: 5% !important;
}