.fondo {
    position: relative;
    width: 100%;
    height: 140px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    background-color: #42505C;
}

footer {
    border-top: 0px solid red;
}

.btnOn {
    border: none solid rgba(242, 53, 28, 1);
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.txt-blanco {
    color: #FFF;
}

.txt-azul {
    color: #0097a9;
}

.pipe {
    color:#849097;
    font-weight: 900;
    margin: 0 10px;
}

.div-center {
    margin: 0 auto;
}
.foter-azul {
    border: 1px solid #eef6f999;
    border-radius: 0 0 20px 20px;
}

.fw-700 {
    font-weight: 700;
}

.font-size-16 {
    font-size: 16px;
}

.page-footer .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.contacto-footer {
    margin-right: 4px;
}

.preguntas-frec {
    position: absolute;
    margin: -20px 0 0 204px;
    z-index: 1;
}

  .preguntas-frec {
    font-size: 40px;
    color: #0097a9;
  }

  .footer-fijo {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
}

.footer-radius {
    width: 82%;
}

@media(min-width:768px){
    .footer-radius {
        width: 100%;
    }
  }

